* {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.image{
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 5px;

}

.image:hover{
    border: 1px solid black;
}

.image img{
    background-color: skyblue;
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}

.desc {
    margin: 0;
    text-align: center;
    font-size: 1em;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5vh;
}

.responsive{
    margin: 25px;
    width: calc(100% / 5 - 2 * 25px);
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: calc(100% / 3);
        margin: 10px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}